name: build

on:
  pull_request:
    branches: master
  push:
    branches: 
      - master
      - rc/**
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Run install script
        run: ./install.sh